<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.RxMajorMapper">
    
    <resultMap type="RxMajor" id="RxMajorResult">
        <result property="id"    column="id"    />
        <result property="majorId"    column="major_id"    />
        <result property="name"    column="name"    />
        <result property="collegeId"    column="college_id"    />
        <result property="level"    column="level"    />
    </resultMap>

    <sql id="selectRxMajorVo">
        select id, major_id, name, college_id, level from rx_major
    </sql>

    <select id="selectRxMajorList" parameterType="RxMajor" resultMap="RxMajorResult">
        <include refid="selectRxMajorVo"/>
        <where>  
            <if test="majorId != null  and majorId != ''"> and major_id = #{majorId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="collegeId != null  and collegeId != ''"> and college_id = #{collegeId}</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
        </where>
    </select>
    
    <select id="selectRxMajorById" parameterType="Long" resultMap="RxMajorResult">
        <include refid="selectRxMajorVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRxMajor" parameterType="RxMajor" useGeneratedKeys="true" keyProperty="id">
        insert into rx_major
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="majorId != null and majorId != ''">major_id,</if>
            <if test="name != null">name,</if>
            <if test="collegeId != null">college_id,</if>
            <if test="level != null">level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="majorId != null and majorId != ''">#{majorId},</if>
            <if test="name != null">#{name},</if>
            <if test="collegeId != null">#{collegeId},</if>
            <if test="level != null">#{level},</if>
         </trim>
    </insert>

    <update id="updateRxMajor" parameterType="RxMajor">
        update rx_major
        <trim prefix="SET" suffixOverrides=",">
            <if test="majorId != null and majorId != ''">major_id = #{majorId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="collegeId != null">college_id = #{collegeId},</if>
            <if test="level != null">level = #{level},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRxMajorById" parameterType="Long">
        delete from rx_major where id = #{id}
    </delete>

    <delete id="deleteRxMajorByIds" parameterType="String">
        delete from rx_major where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>